@import "variables";

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: minmax(92px, max-content) 1fr;
  grid-template-columns: 320px 1fr 320px;
  grid-template-areas:
    "header header header"
    "leftSider content rightSider";

  &-header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 320px 1fr 320px;
    background: #fff;
    font-size: 1.25rem;
    border-bottom: 1px solid $success;
    padding: 0.75rem 1.5rem;

    .ant-space-item {
      height: 100%;
    }

    .logo {
      height: 86px;
      padding: 0.25rem 0;
    }

    .ant-menu {
      display: flex;
      justify-content: space-around;
      align-self: center;
      flex: 1;
      line-height: 58px;
      border: 0;

      &::after,
      &::before {
        content: none !important;
      }

      &-item {
        text-align: center;
        color: $success;
        min-width: 200px;
        font-size: 1.25rem;
        box-shadow: 0px 0px 18px 6px rgba(34, 60, 80, 0.32);
        border: 1px solid #0072ce;

        a {
          color: #d32e11;
        }
      }
    }
  }

  &-left-sider {
    grid-area: leftSider;
    padding: 2.5rem 0;
  }

  &-content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-image: url(../images/bg.svg);
    background-repeat: repeat-y;
    background-size: 100%;
    padding: 3rem 50px;
  }

  &-right-sider {
    grid-area: rightSider;
    padding: 2.5rem 0;
  }

  &-footer {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    align-self: self-end;
    display: flex;
    align-items: center;
    height: 2rem;
    color: $success;
    background: transparent;
    padding: 0 1.5rem;
  }

  p {
    color: $primary;
  }
}
