@import "variables";

.table {
  table {
    width: 100%;
  }

  &-container {
    position: relative;
    border: 1px solid $success;
    overflow: auto;
  }

  &-header {
    position: sticky;
    top: 0;
    z-index: 99;

    table {
      table-layout: fixed;
    }

    &_cell {
      height: 32px;
      text-align: center;
      font-size: 0.75rem;
      font-weight: 600;
      color: $success;
      background: #fff;
      border: 1px solid $success;
      padding: 0.25rem;

      &__small {
        height: 14px;
        font-weight: 600;
        line-height: 1;
        padding: 0;
      }
    }
  }

  &-body {
    max-height: 480px;

    table {
      table-layout: fixed;
    }

    &_cell {
      height: 32px;
      text-align: center;
      color: $error;
      background: #fff;
      border: 1px solid $success;

      &__small {
        padding: 0;
      }
    }
  }

  &:not(.fullscreen) {
    box-shadow: none;
  }

  &.fullscreen {
    position: fixed;
    top: 0;
    left: calc((100% - 1440px) / 2);
    width: 1440px;
    height: 100%;
    padding: 1rem;
    z-index: 999;
  }

  .ant-select {
    border-bottom: 1px solid rgb(217, 217, 217);
  }

  .anticon-fullscreen,
  .anticon-fullscreen-exit {
    font-size: 24px;
    color: rgba($primary, 0.75);
    cursor: pointer;
    z-index: 99;
    transition: transform 0.3s;

    &:hover {
      color: $primary;
      transform: scale(1.25);
    }
  }

  .ant-select-selector {
    min-width: 28px;
    padding: 0 !important;
  }
}

.ant-table {
  &-thead {
    .ant-table-cell {
      color: $success;
    }
  }

  .ant-picker-input input {
    color: $primary;
  }
}

.ant-table-document-row {
  &:hover {
    .anticon-delete {
      display: inline-block;
    }
  }

  .anticon-delete {
    display: none;
    position: absolute;
    top: 25%;
    right: 0.5rem;
    color: $error;
  }
}
